<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= category.charAt(0).toUpperCase() + category.slice(1) %> Products
    </title>
</head>

<body>
    <h1>
        <%= category.charAt(0).toUpperCase() + category.slice(1) %> Products!
    </h1>

    <ul>
        <% for(let product of products){ %>
            <li>
                <a href="/products/<%= product._id%>">
                    <%= product.name%>
                </a>
            </li>
            <% } %>

    </ul>

    <a href="/products/new">New</a>
    <% if (category !=='All' ) { %>
        <a href="/products">All Products</a>

        <% } %>

        <a href="/farms">All Farms</a>

</body>


</html>