<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Farm</title>
</head>

<body>
    <h1>Add Farm</h1>
    <form action="/farms" method="POST">
        <div>
            <label for="name">Farm Name</label>
            <input type="text" id="name" name="name" placeholder="farm name">
        </div>
        <div>
            <label for="city">City</label>
            <input type="text" id="city" name="city" placeholder="product city">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="product email">
        </div>
       
        
        <button>Submit</button>
    </form>

    <a href="/farms">Back</a>
</body>

</html>